In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.DataFrame({'age':    [ 3,  29],
                   'height': [94, 170],
                   'weight': [31, 115]})

In [4]:
df

   age  height  weight
0    3      94      31
1   29     170     115

In [5]:
df.dtypes

age       int64
height    int64
weight    int64
dtype: object

In [6]:
df.values

array([[  3,  94,  31],
       [ 29, 170, 115]], dtype=int64)